<div class="col-sm-4">
  <div class="task-group">
    <h5 class="title"><%= group.name %></h5>

    <ul id="tasks-tab" class="tasks nav nav-tabs">
      <li role="presentation" class="active"><a href="<%= "#group_task_#{group.id}_todo" %>" data-toggle="tab">To do</a></li>
      <li role="presentation"><a href="<%= "#group_task_#{group.id}_done" %>" data-toggle="tab">Done</a></li>
    </ul>

    <div id="tab-content" class="tab-content">
      <div class="tab-pane todo_tasks active" id="<%= "group_task_#{group.id}_todo" %>">
        <%= render partial: 'tasks', locals: { tasks:  group.tasks.uncompleted.where(user: current_user) } %>
      </div>
      <div class="tab-pane done_tasks" id="<%= "group_task_#{group.id}_done" %>">
        <%= render partial: 'tasks', locals: { tasks:  group.tasks.completed.where(user: current_user) } %>
      </div>
    </div>
  </div>
</div>
