<h2>Edit task</h2>
<%= form_for @task do |f| %>
  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name %><br />
  <%= f.select(:group_id, options_for_select(Group.where(user: current_user).all.map { |g| [g.name, g.id] }, @task.group_id)) %><br />
  <%= f.label :completed, 'Completed: ' %>
  <%= f.check_box :completed %><br />
  <%= f.submit %>
<% end %>