<%= link_to 'New', new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li class="<%= 'completed' if task.completed? %>">
      <%= task.name %>
      <%= link_to 'Complete', complete_task_path(task), method: :post %>
      <%= link_to 'Edit', edit_task_path(task) %>
      <%= link_to 'Remove', task_path(task), confirm: 'Are your sure?', method: :delete %>
    </li>
  <% end %>
</ul>