<h2 class="title">
  New task
  <%= link_to 'Cancel', tasks_path, class: 'btn btn-primary right' %>
</h2>

<%= form_for @task do |f| %>
  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name, autofocus: true %><br />
  <%= f.select(:group_id, options_for_select(Group.all.map { |g| [g.name, g.id] })) %>
  <%= f.submit "Create" %>
<% end %>