<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Task tracker', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="<%= active_menu(root_path) %>"><%= link_to 'Home', root_path %></li>
        <% if current_user.present? %>
          <li class="<%= active_menu([groups_path, new_group_path]) %>"><%= link_to 'Groups', groups_path %></li>
          <li class="<%= active_menu([tasks_path, new_task_path]) %>"><%= link_to 'Tasks', tasks_path %></li>
          <li class="<%= active_menu([deleted_tasks_path]) %>"><%= link_to 'Deleted tasks', deleted_tasks_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
          <li class="<%= active_menu(edit_user_path(current_user)) %>"><%= link_to current_user.name, edit_user_path(current_user) %></li>
          <li><%= link_to 'Signout', session_path(session[:current_user_id]), method: :delete %></li>
        <% else %>
          <li class="<%= active_menu(users_signup_path) %>"><%= link_to 'Signup', users_signup_path %></li>
          <li class="<%= active_menu(new_session_path) %>"><%= link_to 'Signin', new_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
