<!DOCTYPE html>
<html>
  <head>
    <title>ObjectivesTracker</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://www.google.com/jsapi"%>
    <%= csrf_meta_tags %>
    <%= yield :head_javascripts %>
  </head>
  <body>
    <%= link_to 'Home', root_path %>

    <% if current_user.present? %>
      <%= link_to 'Tasks', tasks_path %>
      <%= link_to 'Signout', session_path(session[:current_user_id]), method: :delete %>

      <span class="current_user_credentials">
        Welcome <%=link_to current_user.name, edit_user_path(current_user) %>
      </span>
    <% else %>
      <%= link_to 'Signup', users_signup_path %>
      <%= link_to 'Signin', new_session_path %>
    <% end %>
    <br />

    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>

    <% js_file_path = "controllers/#{controller_name}/#{action_name}.js" %>
    <% assets_path = "#{Rails.root}/app/assets/javascripts/" %>
    <%= javascript_include_tag js_file_path if File.exists?(assets_path + js_file_path) %>
  </body>
</html>
